[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "api"

[services.variables]
PORT = "8000"

[deploy.startCommand]
command = "uvicorn main:app --host 0.0.0.0 --port $PORT"
